*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Outfit', sans-serif;
  color: whitesmoke;
  margin: 0;
  padding: 0;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('img/Hiroshige-Wiry-w-Naruto-detal2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1920px){
  .text{
    margin-top: 10px;
    margin-bottom: 70px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 16px;
    text-align: center;
  }

  span{
    font-size: 13px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-width: 1920px){
  .text{
    margin-top: 10px;
    margin-bottom: 70px;
    font-size: 18px;
    text-align: center;
  }

  span{
    font-size: 15px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
}


h1{
  text-align: center;
}

.container{
  display: flex;
  justify-content: center;
}

.profile-img{
  width: 150px;
  height: 150px;
  border-radius: 100px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1920px){
  .buttons-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 200px;
    height: 55px;
    background: none;
    border: 3px solid white;
    border-radius: 10px;
    margin-right: 20px;
    transition: 1s;
  }
}

@media only screen and (min-width: 1920px){
  .buttons-links {
    margin-top: 20px;
    width: 400px;
    height: 55px;
    background: none;
    border: 3px solid white;
    border-radius: 10px;
    margin-right: 20px;
    transition: 1s;
  }
}

.container2{
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-links:hover{
  cursor: pointer;
  box-shadow: 5px 10px 10px black;
}

.buttons-links a{
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 16px;
  padding-left: 200px;
  padding-right: 200px;
}